nav {
    display: flex; /*Convertimos al menú en flexbox*/
    justify-content: space-between; /*Con esto le indicamos que margine todos los items que se encuentra adentro hacia la derecha e izquierda*/
    align-items: center; /*con esto alineamos de manera vertical*/
}

nav .flechas-nav{
    display: flex; /*Convertimos al menú en flexbox*/
    justify-content: space-between; /*Con esto le indicamos que margine todos los items que se encuentra adentro hacia la derecha e izquierda*/
    align-items: center; /*con esto alineamos de manera vertical*/
}

nav .botones-usuario {
    display: flex; /*Convertimos al menú en flexbox*/
    justify-content: space-between; /*Con esto le indicamos que margine todos los items que se encuentra adentro hacia la derecha e izquierda*/
    align-items: center; /*con esto alineamos de manera vertical*/
}

.search-container {
    position: relative;
    display: inline-block;
}

.search-input {
    width: 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    transition: width 0.3s ease-out;
    position: absolute;
    top: 50%;
    right: 50px; /* Ajuste de la posición con respecto al botón */
    transform: translateY(-50%);
}

.search-icon {
    cursor: pointer;
}